<a href="https://colab.research.google.com/github/gaubeur/machine-learning/blob/master/aula_pratica_modelo_preditivo_preparando_dataset_parte1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Este programa é utilizado para o desenvolvimento do trabalho prático da disciplina FAM do bootcamp de MLE

In [ ]:
#importando as bibliotecas
import pandas as pd #biblioteca utilizada para o tratamento de dados via dataframes 
import numpy as np #biblioteca utilizada para o tratamento de valores numéricos (vetores e matrizes)
import datetime #biblioteca para trabalhar com formatos de data e hora

In [ ]:
from google.colab import files  #biblioteca utilizada para carregar os dados para o google colab
uploaded = files.upload()

Saving BL-Flickr-Images-Book.csv to BL-Flickr-Images-Book.csv

In [ ]:
#realizando a leitura do arquivo (dataset)
nome_do_arquivo="BL-Flickr-Images-Book.csv"
dataframe_arquivo = pd.read_csv(nome_do_arquivo)

In [ ]:
#apresentando as 5 primeiras linhas do dataset
dataframe_arquivo.head()

   Identifier  ...                                         Flickr URL
0         206  ...  http://www.flickr.com/photos/britishlibrary/ta...
1         216  ...  http://www.flickr.com/photos/britishlibrary/ta...
2         218  ...  http://www.flickr.com/photos/britishlibrary/ta...
3         472  ...  http://www.flickr.com/photos/britishlibrary/ta...
4         480  ...  http://www.flickr.com/photos/britishlibrary/ta...

[5 rows x 7 columns]

In [ ]:
dataframe_arquivo.info() #verificando os tipos de variáveis e se existem ou não valores nulos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8287 entries, 0 to 8286
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Identifier            8287 non-null   int64
 1   Place of Publication  8287 non-null   object
 2   Date of Publication   8106 non-null   object
 3   Publisher             4092 non-null   object
 4   Title                 8287 non-null   object
 5   Author                6509 non-null   object
 6   Flickr URL            8287 non-null   object
dtypes: int64(1), object(6)
memory usage: 453.3+ KB

In [ ]:
#realizando_drop_colunas
colunas_retiradas = ['Edition Statement','Contributors','Corporate Author','Corporate Contributors','Former owner','Engraver','Issuance type','Shelfmarks'];
dataframe_arquivo.drop(columns=colunas_retiradas,axis=1,inplace=True);

In [ ]:
#apresentando as 5 primeiras linhas do dataset
dataframe_arquivo.head()

   Identifier  ...                                         Flickr URL
0         206  ...  http://www.flickr.com/photos/britishlibrary/ta...
1         216  ...  http://www.flickr.com/photos/britishlibrary/ta...
2         218  ...  http://www.flickr.com/photos/britishlibrary/ta...
3         472  ...  http://www.flickr.com/photos/britishlibrary/ta...
4         480  ...  http://www.flickr.com/photos/britishlibrary/ta...

[5 rows x 7 columns]

In [ ]:
dataframe_arquivo.info() #verificando os tipos de variáveis e se existem ou não valores nulos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8287 entries, 0 to 8286
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Identifier            8287 non-null   int64
 1   Place of Publication  8287 non-null   object
 2   Date of Publication   8106 non-null   object
 3   Publisher             4092 non-null   object
 4   Title                 8287 non-null   object
 5   Author                6509 non-null   object
 6   Flickr URL            8287 non-null   object
dtypes: int64(1), object(6)
memory usage: 453.3+ KB

In [ ]:
#verificando se existe um identificado unico
print(dataframe_arquivo['Identifier'].is_unique);

True

In [ ]:
#contando as quantidades de valores unicos
dataframe_arquivo['Identifier'].nunique()

8287

In [ ]:
#Seleciona a data da publicação da linha 1905 até o final
dataframe_arquivo.loc[1905:,'Date of Publication'].head(10)

1905         1879
1906         1886
1907         1844
1908    1861-1909
1909         1884
1910         1885
1911         1834
1912         1837
1913         1867
1914         1830
Name: Date of Publication, dtype: object

In [ ]:
#tratando as datas de publicação
expre_regular = r'^(\d{4})';#expressão regular
extr = dataframe_arquivo['Date of Publication'].str.extract(expre_regular,expand=False);

In [ ]:
#lista extr
extr[1905:]

1905    1879
1906    1886
1907    1844
1908    1861
1909    1884
        ...
8282    1838
8283    1831
8284     NaN
8285    1834
8286    1834
Name: Date of Publication, Length: 6382, dtype: object

In [ ]:
#aplica ao dataset e transforma em numerico
dataframe_arquivo['Date of Publication']=pd.to_numeric(extr)

In [ ]:
#verificando o dataset
dataframe_arquivo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8287 entries, 0 to 8286
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Identifier            8287 non-null   int64
 1   Place of Publication  8287 non-null   object
 2   Date of Publication   7316 non-null   float64
 3   Publisher             4092 non-null   object
 4   Title                 8287 non-null   object
 5   Author                6509 non-null   object
 6   Flickr URL            8287 non-null   object
dtypes: float64(1), int64(1), object(5)
memory usage: 453.3+ KB

In [ ]:
#contando a quantidade de valores nulos
dataframe_arquivo['Date of Publication'].isnull().sum()

0

In [ ]:
#mostra se a coluna é nula ou não
dataframe_arquivo['Date of Publication'].isnull()

0       False
1       False
2       False
3       False
4       False
        ...
8282    False
8283    False
8284     True
8285    False
8286    False
Name: Date of Publication, Length: 8287, dtype: bool

In [ ]:
#elimina as linhas com valores nulos
dataframe_arquivo.dropna(subset=['Date of Publication'],inplace=True);
#transforma o float em int
dataframe_arquivo['Date of Publication']=dataframe_arquivo['Date of Publication'].astype(int)

In [ ]:
dataframe_arquivo.info();

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7316 entries, 0 to 8286
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Identifier            7316 non-null   int64
 1   Place of Publication  7316 non-null   object
 2   Date of Publication   7316 non-null   int64
 3   Publisher             3576 non-null   object
 4   Title                 7316 non-null   object
 5   Author                5782 non-null   object
 6   Flickr URL            7316 non-null   object
dtypes: int64(2), object(5)
memory usage: 457.2+ KB

In [ ]:
#identificar os locais de publicacao
dataframe_arquivo['Place of Publication'].head(10)

0                       London
1     London; Virtue & Yorston
2                       London
3                       London
4                       London
5                       London
6                       London
8                      London]
9                       London
10                    Coventry
Name: Place of Publication, dtype: object

In [ ]:
#identificando os locais que possuem a cidade de londres como local de publicacao
dataframe_arquivo['Place of Publication'].str.contains('London').head(10)

0      True
1      True
2      True
3      True
4      True
5      True
6      True
8      True
9      True
10    False
Name: Place of Publication, dtype: bool

In [ ]:
#cria uma serie que contem os valores true e false para a cidade London
london = dataframe_arquivo['Place of Publication'].str.contains('London')
#cria uma serie que contem os valores true e false para a cidade Oxford
oxford = dataframe_arquivo['Place of Publication'].str.contains('Oxford')

In [ ]:
oxford

0       False
1       False
2       False
3       False
4       False
        ...
8281    False
8282    False
8283    False
8285    False
8286    False
Name: Place of Publication, Length: 7316, dtype: bool

In [ ]:
dataframe_arquivo['Place of Publication']=np.where(london,'London',np.where(oxford,'Oxford',dataframe_arquivo['Place of Publication'].str.replace('-',' ')))

In [ ]:
dataframe_arquivo.head()

   Identifier  ...                                         Flickr URL
0         206  ...  http://www.flickr.com/photos/britishlibrary/ta...
1         216  ...  http://www.flickr.com/photos/britishlibrary/ta...
2         218  ...  http://www.flickr.com/photos/britishlibrary/ta...
3         472  ...  http://www.flickr.com/photos/britishlibrary/ta...
4         480  ...  http://www.flickr.com/photos/britishlibrary/ta...

[5 rows x 7 columns]