<a href="https://colab.research.google.com/github/gaubeur/machine-learning/blob/master/aula_pratica_modelo_preditivo_preparando_dataset_parte3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Este programa é utilizado para o desenvolvimento do trabalho prático da disciplina FAM do bootcamp de MLE

In [ ]:
#importando as bibliotecas
import pandas as pd #biblioteca utilizada para o tratamento de dados via dataframes 
import numpy as np #biblioteca utilizada para o tratamento de valores numéricos (vetores e matrizes)
import datetime #biblioteca para trabalhar com formatos de data e hora

In [ ]:
from google.colab import files  #biblioteca utilizada para carregar os dados para o google colab
uploaded = files.upload()

Saving imports-85.txt to imports-85.txt

In [ ]:
#realizando a leitura do arquivo (dataset)
dataframe_autos = pd.read_csv('imports-85.txt', sep=",", header=None,na_values="?")

In [ ]:
#apresentando as 5 primeiras linhas do dataset
dataframe_autos.head()

   0      1            2    3    4     5   ...    20     21      22  23  24       25
0   3    NaN  alfa-romero  gas  std   two  ...   9.0  111.0  5000.0  21  27  13495.0
1   3    NaN  alfa-romero  gas  std   two  ...   9.0  111.0  5000.0  21  27  16500.0
2   1    NaN  alfa-romero  gas  std   two  ...   9.0  154.0  5000.0  19  26  16500.0
3   2  164.0         audi  gas  std  four  ...  10.0  102.0  5500.0  24  30  13950.0
4   2  164.0         audi  gas  std  four  ...   8.0  115.0  5500.0  18  22  17450.0

[5 rows x 26 columns]

In [ ]:
header = {
0:"symboling",
1:"normalized-losses",
2:"make",
3:"fuel-type",
4:"aspiration",
5:"num-of-doors",
6:"body-style",
7:"drive-wheels",
8:"engine-location",
9:"wheel-base",
10:"length",
11:"width",
12:"height",
13:"curb-weight",
14:"engine-type",
15:"num-of-cylinders",
16:"engine-size",
17:"fuel-system",
18:"bore",
19:"stroke",
20:"compression-ratio",
21:"horsepower",
22:"peak-rpm",
23:"city-mpg",
24:"highway-mpg",
25:"price"
}

In [ ]:
dataframe_autos.rename(columns=header,inplace=True)
dataframe_autos.head()

   symboling  normalized-losses         make  ... city-mpg highway-mpg    price
0          3                NaN  alfa-romero  ...       21          27  13495.0
1          3                NaN  alfa-romero  ...       21          27  16500.0
2          1                NaN  alfa-romero  ...       19          26  16500.0
3          2              164.0         audi  ...       24          30  13950.0
4          2              164.0         audi  ...       18          22  17450.0

[5 rows x 26 columns]

In [ ]:
dataframe_autos.info() #verificando os tipos de variáveis e se existem ou não valores nulos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  164 non-null    float64
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       203 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               201 non-null    float64
 19  stroke             201 non-null    float64
 20  compression-ratio  205 non-null    float64
 21  horsepower         203 non-null    float64
 22  peak-rpm           203 non-null    float64
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              201 non-null    float64
dtypes: float64(11), int64(5), object(10)
memory usage: 41.8+ KB

In [ ]:
#conta a quantidade de object
dataframe_autos.dtypes.eq('object').sum()

10

In [ ]:
#selecionando apenas os dados categoricos
dataframe_autos_string = dataframe_autos.select_dtypes(include=['object']).copy()
dataframe_autos_string.head()

          make fuel-type aspiration  ... engine-type num-of-cylinders fuel-system
0  alfa-romero       gas        std  ...        dohc             four        mpfi
1  alfa-romero       gas        std  ...        dohc             four        mpfi
2  alfa-romero       gas        std  ...        ohcv              six        mpfi
3         audi       gas        std  ...         ohc             four        mpfi
4         audi       gas        std  ...         ohc             five        mpfi

[5 rows x 10 columns]

In [ ]:
dataframe_autos_string.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   make              205 non-null    object
 1   fuel-type         205 non-null    object
 2   aspiration        205 non-null    object
 3   num-of-doors      203 non-null    object
 4   body-style        205 non-null    object
 5   drive-wheels      205 non-null    object
 6   engine-location   205 non-null    object
 7   engine-type       205 non-null    object
 8   num-of-cylinders  205 non-null    object
 9   fuel-system       205 non-null    object
dtypes: object(10)
memory usage: 16.1+ KB

In [ ]:
#contando valores nulos
dataframe_autos_string.isnull().sum()

make                0
fuel-type           0
aspiration          0
num-of-doors        2
body-style          0
drive-wheels        0
engine-location     0
engine-type         0
num-of-cylinders    0
fuel-system         0
dtype: int64

In [ ]:
#realiza o drop para valores nulos
dataframe_autos_string.dropna(inplace=True)
dataframe_autos_string.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 203 entries, 0 to 204
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   make              203 non-null    object
 1   fuel-type         203 non-null    object
 2   aspiration        203 non-null    object
 3   num-of-doors      203 non-null    object
 4   body-style        203 non-null    object
 5   drive-wheels      203 non-null    object
 6   engine-location   203 non-null    object
 7   engine-type       203 non-null    object
 8   num-of-cylinders  203 non-null    object
 9   fuel-system       203 non-null    object
dtypes: object(10)
memory usage: 17.4+ KB

In [ ]:
#conta os valores para cada uma das classes
dataframe_autos_string['num-of-cylinders'].value_counts()

four      157
six        24
five       11
eight       5
two         4
twelve      1
three       1
Name: num-of-cylinders, dtype: int64

In [ ]:
#transformando em numeros ( replace )
mapeamento_classes = {"num-of-doors":{"four":4, "two":2},
                   "num-of-cylinders":{"four":2, "six":6, "five":5, "eight":8, "two":2, "twelve": 12, "three":3}}

In [ ]:
#aplicando o replace
dataframe_autos_string.replace(mapeamento_classes,inplace=True)
dataframe_autos_string.head()

          make fuel-type aspiration  ...  engine-type num-of-cylinders fuel-system
0  alfa-romero       gas        std  ...         dohc                2        mpfi
1  alfa-romero       gas        std  ...         dohc                2        mpfi
2  alfa-romero       gas        std  ...         ohcv                6        mpfi
3         audi       gas        std  ...          ohc                2        mpfi
4         audi       gas        std  ...          ohc                5        mpfi

[5 rows x 10 columns]

In [ ]:
#aplicando o label encoding
dataframe_autos_string['body-style'] = dataframe_autos_string['body-style'].astype('category')
dataframe_autos_string.dtypes

make                  object
fuel-type             object
aspiration            object
num-of-doors           int64
body-style          category
drive-wheels          object
engine-location       object
engine-type           object
num-of-cylinders       int64
fuel-system           object
dtype: object

In [ ]:
#procedimento label encoding
dataframe_autos_string['body-style_cat'] = dataframe_autos_string['body-style'].cat.codes
dataframe_autos_string.head()

          make fuel-type  ... fuel-system  body-style_cat
0  alfa-romero       gas  ...        mpfi               0
1  alfa-romero       gas  ...        mpfi               0
2  alfa-romero       gas  ...        mpfi               2
3         audi       gas  ...        mpfi               3
4         audi       gas  ...        mpfi               3

[5 rows x 11 columns]

In [ ]:
dataframe_autos_string.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 203 entries, 0 to 204
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   make              203 non-null    object
 1   fuel-type         203 non-null    object
 2   aspiration        203 non-null    object
 3   num-of-doors      203 non-null    int64
 4   body-style        203 non-null    category
 5   drive-wheels      203 non-null    object
 6   engine-location   203 non-null    object
 7   engine-type       203 non-null    object
 8   num-of-cylinders  203 non-null    int64
 9   fuel-system       203 non-null    object
 10  body-style_cat    203 non-null    int8
dtypes: category(1), int64(2), int8(1), object(7)
memory usage: 16.5+ KB

In [ ]:
#aplicando o one-hot encoding
dataframe_autos_string['drive-wheels'].unique()

array(['rwd', 'fwd', '4wd'], dtype=object)

In [ ]:
#aplicando o hot enconding com o panda
pd.get_dummies(dataframe_autos_string, columns=['drive-wheels']).head()

          make fuel-type  ... drive-wheels_fwd  drive-wheels_rwd
0  alfa-romero       gas  ...                0                 1
1  alfa-romero       gas  ...                0                 1
2  alfa-romero       gas  ...                0                 1
3         audi       gas  ...                1                 0
4         audi       gas  ...                0                 0

[5 rows x 13 columns]